

body {
  background-color: #f4f4f4;
  padding: 20px;
}

img{
  width: 100px;
}
.button-margin-right {
  margin-right: 5px;
}

.create-btn {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 5px;
  margin-left: 20px;
}

.create-btn:hover {
  background-color: #218838;
  color: white;
}


.table-container p-table {
  background-color: #212529;
  border-radius: 10px;
  overflow: hidden;
  color: white; /
}

.table-container th,
.table-container td {
  color: white;
  margin: 5px;
}


.search-container input {
  width: 250px;
}


.d-flex {
  gap: 20px;
}

.empty-table-message {
  text-align: center;
  margin-top: 50px;
}


@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-bottom: 10px;
    width: 100%;
  }

  .create-btn {
    width: 100%;
    text-align: center;
  }

  .table-container {
    margin-top: 20px;
    padding: 0 15px;
  }
}
